{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="jumbotron purple-300">
  <h1 class="display-4">{{ the_title }}</h1>
  <p class="lead">This website keeps track of Brian's projects.</p>
  <hr class="my-4">
    <p>
        Theme used is <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">Bootstrap's default theme</a>.
        </br>
        More about Brian:
    </p>
    <a class="btn btn-primary btn-lg" href="https://bjo.github.io" role="button">Personal page</a>
    <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jobrian/" role="button">Linkedin</a>
    <a class="btn btn-primary btn-lg" href="https://github.com/bjo" role="button">Github</a>
</div>

{% endblock %}